* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar .name-logo img {
    height: 35px;
}

.navbar {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: #333;
}

.navbar .name-logo {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    justify-content: space-between;
}

.nav-item {
    padding: 1.5rem;
}

.nav-link {
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
}

.nav-item:hover .nav-link {
    color: red;
}

.menu-icon span img {
    width: 1.5rem;
    height: 1.5rem;
}

.menu-icon, #show-menu {
    display: none;
}

@media (max-width: 800px) {
    .menu-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    #show-menu:checked + .menu-icon span img {
        display: none;
    }
    #show-menu:checked ~ .menu-icon span::after {
        content: "\2715";
        color: white;
        font-size: 2rem;
    }
    .navbar .nav-list {
        display: block;
        position: fixed;
        height: fit-content;
        max-width: 22rem;
        width: 100%;
        margin-top: 86px;
        left: -100%;
        z-index: 999;
        transition: 0.3s ease;
        border-radius: 20px;
        background-color: #4c4177;
        background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);
    }
    #show-menu:checked ~ .nav-list {
        left: 50%;
        transform: translateX(-50%);
    }
    .nav-link {
        text-align: center;
        display: inline-block;
        width: 100%;
    }
    .nav-item {
        margin: 1rem;
    }
}

.navbar.scrolled {
    background-image: url(./night-sky.jpeg);
    background-size: cover;
    background-position: center;
}

.outer-wrap {
    min-height: 100vh;
    max-width: 100vw;
    background-color: wheat;
}

.content {
    width: 90%;
    height: 90%;
    background-color: white;
    display: flex;
}

.outer-wrap {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 86px;
}

.image-section {
    display: flex;
    width: 70%;
    padding: 1rem;
    background: url(./image.jpg);
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.image-section-content * {
    margin: 1rem;
}

.button {
    width: fit-content;
}

.image-section-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.category {
    background-color: red;
    padding: 0.5rem 1rem;
    color: white;
}

.title {
    color: white;
    text-shadow: 2px 2px 5px blue;
}

.button {
    padding: 1rem 1.5rem;
    border-radius: 15px;
    border: none;
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    color: white;
}

.trending-section {
    width: 30%;
    display: flex;
}

.trending-section-content h2 {
    padding: 1rem;
}

.img-post {
    width: 70%;
    max-width: 200px;
}

.img-post img {
    width: 100%;
}

.post-section {
    display: flex;
    padding: 1rem;
}

.post-details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 1rem;
}

.post-category, .post-date {
    color: gray;
}

@media (max-width: 850px) {
    .content {
        flex-direction: column;
    }
    .image-section, .trending-section {
        width: 100%;
    }
}